// Colors
$black: #000;
$white: #FFF;

// Font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Others
$sidebar-width: 200px;
$menu-color: #FFF9;
$menu-color-hover: #FFFFFFC0;
$menu-color-active: $white;
